body {
    background-color: #1d2021;
}
a,
a:visited {
    color: #fabd2f !important;
    text-decoration: none;
    font-family: Space Grotesk;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Space Grotesk;
}

p {
    font-family: Noto Sans;
}

.post-title {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #fabd2f;
}

::selection {
    background-color: #fabd2f;
    color: #1d2021;
}

code {
    padding: 2px 5px;
    color: #ebdbb2;
    background-color: #282828 !important;
}

table,
th,
td {
    border: none !important;
    padding-left: 2vw;
    padding-right: 2vw;
}
